.DS_Store
.venv
__pycache__

*.out
*.log
*.dat

CIVLREP
log

data/autoparllm/**
data/dataracebench/**

!data/**/duplicate_files.log
!data/**/empty_parallel_blocks.log
!data/**/rename_dir_map.log
!data/**/empty_log_files.log
!data/**/seq_compile_fails.log
!data/**/par_compile_fails.log
!data/**/diff_test_without_env.csv
!data/**/diff_test_without_env_fails.log
!data/**/diff_test_with_env.csv
!data/**/diff_test_with_env_fails.log
!data/**/diff_test_seq.csv
!data/**/diff_test_seq_fails.log
!data/**/env.tsl
!data/**/env.tsl.tsl
!data/**/env.csv
!data/**/civl.csv
!data/**/archer.csv
!data/**/tsan-clang.csv
!data/**/tsan-gcc.csv

!data/**/files_after_preprocessing.csv
!data/**/DRB-metainfo.json
!data/**/DRB-metainfo.csv

!data/**/loc.csv

autoparllm2
old-autoparllm
data/autoparllm2
